*, *:before, *:after {
  -moz-box-sizing    : border-box; /* Firefox */
  -webkit-box-sizing : border-box; /* Safari */
  box-sizing         : border-box;
  *behavior          : url(./js/boxsizing.htc); /* ie7 et ie8 */
}

/*oooo Color Chart oooo*/ 
:root {
  --blue: #0065FC;
  --light-blue: #DEEBFF;
  --grey: #F2F2F2;
}

.blue {
  color: #0065FC;
}

.light-blue {
  color: #DEEBFF
}

.grey {
  color: #F2F2F2; 
}
/*xxxx Color Chart xxxx*/

/*ooo Global Classes ooo*/
body { 
  min-width: 375px;
  height: 1880px;
  margin: 0px auto;
  font-family: 'Raleway', sans-serif;  
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

a {
color: #000;
text-decoration: none;
}

/*ooo Global Classes ooo*/

/*ooo Header ooo*/
header {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 1380px;  
  max-height: 100px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

#header-navigation ul {
  display: flex;
}

#header-navigation ul li {  
  height: 100px;
}

#header-navigation a {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid transparent;
}

#header-navigation a:hover {
  color: var(--blue);
  border-top: 2px solid var(--blue);
}

header a.logo img {
  width: 100px;
  height: 50px;
}
/*xxx Header xxx*/

/*oooo Main oooo*/ 
main {
  flex: 1;
  max-width: 1380px;
  min-width: 180px;
  width: 100%;
  margin: 0 auto;  
}

/*o title o*/
main .title {
  display: flex;  
  justify-content: space-between;
  flex-direction: column;
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

main .title h1 {
    margin: 0; 
    font-size: 22px;   
}

main .title p {
    margin: 5px 0;
}
/*x title x*/

/*o formulaire o*/
main form.form-search {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  max-width: 1380px;
  width: 100%;
  margin: 30px auto;
  padding: 0 30px;
}

main form i.fa-map-marker-alt {
    width: 46px;
    height: 45px;
    padding: 15px 17px;
    background-color: var(--grey);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid var(--grey);
}

input.p-holder {
    width: 200px;
    height: 45px;
    padding-left: 10px;
    border-left: 1px solid var(--grey);
    border-right: 1px solid transparent;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

input.search {
    height: 45px;
    color: #FFF;
    padding: 12px 15px;
    background-color: var(--blue);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid var(--blue);    
    font-weight: bolder;
}  
  
input::placeholder {
    color: #000;
    font-weight: bolder;
}
  
.fa-search {
    opacity: 0;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
/*x formulaire x*/

/*o filters o*/
main div.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  gap: 30px;     
  margin: 0px 0; 
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

main div.filters div.mobile {
    display: flex;
    flex-direction: row;
    gap: 30px;   
}

.filters p {
    margin: 0;
    font-weight: bold;    
}

.filters span {
  font-weight: bolder;
  margin: 0 10px;    
}

.fa-money-bill-wave, 
.fa-child, 
.fa-heart, 
.fa-dog { 
  width: 34px; 
  height: 34px;
  background: white;
  border-radius: 50%;
  color: var(--blue);
  padding: 9px 2px 10px 0px;
}

div.filters button  { 
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #FFF;    
  border-radius: 50px;
  border: 2px solid var(--grey);
}

button i.filter {
  background: var(--light-blue);
  color: var(--blue);
  margin: 0;
}
/*x filters x*/

/*o information o*/
.fa-info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 6px 6px 8px 7px;
  width: 24px; 
  height: 24px;
  border: 2px solid var(--grey);
  border-radius: 50%;
  color: var(--blue);
}
  
main div.information {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
  
main div.information p {
    margin-left: 5px;
}
/*o information o*/

/*ooo Hebergements && Populaires && Activtes ooo*/

/*ooo Hebergements && Populaires ooo*/
.row-heber-popul {
  padding: 0 12.5px;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column-heber {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  max-width: 70%;
  padding: 0;
}

.column-heber .box {
  background-color: var(--grey);
  margin: 8px 0;
  vertical-align: top;
  width: 100%;  
  border-radius: 25px;
}

.column-popul {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  max-width: 30%;
  padding: 0 4px 0 25px;
}

.column-popul .box {
  background-color: var(--grey);
  margin: 8px 0;
  vertical-align: top;
  width: 100%;
  border-radius: 25px;
}

/*<!--ooo Hébergements à Marseille ooo-->*/
#header-heberg {
  text-align: left;
  padding-left: 25px;
  padding-top: 0px;
  display: flex;
}

.row-heberg {
  padding: 0 12.5px;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column-heberg {
  padding: 0 12.5px;
  -ms-flex: 33.33%; /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;  
  display: flex;
  flex-direction: column;
}

.column-heberg .card {
  margin-bottom: 24px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 25px;
  background-color: white;  
  vertical-align: top;
  width: 100%;
  height: 240px;
}

.column-heberg .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.column-heberg img {
  border-radius: 25px 25px 0 0;
  padding: 4px;
  vertical-align: top;
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.column-heberg .container {
  padding: 2px 16px;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.column-heberg .container h3,
.column-heberg .container .note,
.column-heberg .container p {
  margin: 0; 
}

/*ooo Affichez plus ooo*/
.affichez-plus {
  font-size: 1.2em;
  padding-left: 30px;
  padding-bottom: 30px;
}
/*xxx Affichez plus xxx*/

/*<!--xxx Hébergements à Marseille xxx-->*/

/*<!--ooo Hébergements les Populaires à Marseille ooo-->*/
.header-popula {
  text-align: left;
  padding: 0 25px;
  padding-top: 25px;  
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 10px;
}

.row-popula {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 12.5px;
  justify-content: space-between;
}

/* Create four equal columns that sits next to each other */
.column-popula {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 0 12.5px;
}

.column-popula .card {
  margin: 28.5px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 25px;
  background-color: white;  
  vertical-align: top;
  width: 100%;
  height: 160px;
  display: flex;
}

.column-popula .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.column-popula img {
  border-radius: 25px 0 0 25px;
  padding: 4px;
  vertical-align: top;
  width: 120px;
  height: 160px;
  object-fit: cover;
}

h2.pop, .fa-chart-line.pop {
  margin: 0px;
}

.column-popula .container {
  padding: 8px 16px;
  font-size: .8em;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-popula .container h3,
.column-popula .container p {
  margin: 0; 
}

.column-popula .container .note {
  margin: 0;
}
/*<!--ooo Hébergements les Populaires à Marseille ooo-->*/

/*xxx Hebergements && Populaires xxx*/

/*ooo Activites ooo*/
.row-activi .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.row-activi .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.row-activi .card h3 {
	margin: 0;
    padding: 0;
    font-size: 1em;
}

.row-activi .box {
    border-radius: 25px;
}

.row-activi img {
  border-radius: 25px 25px 0 0;
}

.row-activi .card .container {
    text-align: left;
    padding: 10px;
}

#header-activi {
  text-align: left;
  padding-left: 26px;
  padding-top: 50px;
}

.row-activi {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 12.5px;
}

/* Create four equal columns that sits next to each other */
.row-activi .column-activi {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;  
}

.row-activi .column-1 .box {
  margin-bottom: 25px;
  vertical-align: top;
  width: 100%;
  height: 440px;
  padding: 0 12.5px;
}

.row-activi .column-1 img {
  padding: 0px;
  vertical-align: top;
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.row-activi .column-2 .box.box-1 {
  margin-bottom: 24px;
  vertical-align: top;
  width: 100%;
  height: 250px;
  padding: 0 12.5px;   
}

.row-activi .column-2 .box.box-1 img {
  padding: 0px;
  vertical-align: top;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.row-activi .column-2 .box.box-2 {
  margin-bottom: 24px;
  vertical-align: top;
  width: 100%;
  height: 166px;
  padding: 0 12.5px;
}

.row-activi .column-2 .box.box-2 img {
  padding: 0px;
  vertical-align: top;
  width: 100%;
  height: 116px;
  object-fit: cover;
}

.row-activi .column-3 .box {
  margin-bottom: 24px;
  vertical-align: top;
  width: 100%;
  height: 440px;
  padding: 0 12.5px;
}

.row-activi .column-3 img {
  padding: 0px;
  vertical-align: top;
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.row-activi .column-4 .box.box-3 {
  margin-bottom: 24px;
  vertical-align: top;
  width: 100%;
  height: 192px;
  padding: 0 12.5px;
}

.row-activi .column-4 .box.box-3 img {
  padding: 0px;
  vertical-align: top;
  width: 100%;
  height: 142px;
  object-fit: cover;
}

.row-activi .column-4 .box.box-4 {
  margin-bottom: 24px;
  vertical-align: top;
  width: 100%;
  height: 224px;  
  padding: 0 12.5px; 
}

.row-activi .column-4 .box.box-4 img {
  padding: 0px;
  vertical-align: top;
  width: 100%;
  height: 174px;
  object-fit: cover;
}


/*ooo Activite ooo*/

/*xxx Hebergements && Populaires && Activtes xxx*/

/*xxxx Main xxxx*/

/*ooo Footer ooo*/ 
footer {
  background-color: var(--grey);
  padding-bottom: 90px;
}

#footer-navigation {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 250px;
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

#footer-navigation li {
  line-height: 200%;
}
/*xxx Footer xxx*/ 

/*1280*/
@media all and (min-width: 1244px) { 
  .column-popula .container {    
    font-size: 1em;
  }  
}
/*1280*/

/*1055*/
@media all and (max-width: 1120px) {
  .column-popula .card {
    margin: 22.5px 0; 
  }
}
/*1055*/

/*ooo Responsive layout - 992px ooo*/
@media all and (max-width: 992px) {
  /*ooo Hebergements and Plus Populaires ooo*/
  .column-heber {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  
  .column-popul {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  /*<!--ooo Hébergements à Marseille ooo-->*/
  .column-heberg {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  /*<!--ooo Hébergements à Marseille ooo-->*/

  /*<!--ooo Hébergements les Populaires à Marseille ooo-->*/
  .column-popula {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding-top: 18px;
    padding-bottom: 56px;
  }

  .column-popula .card {
    margin-top: 0;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
    background-color: white;  
    vertical-align: top;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .column-popula img {
    border-radius: 25px 25px 0 0;
    padding: 4px;
    vertical-align: top;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .column-popula .container {
    padding: 8px 16px;
    font-size: 1em;  
    display: flex;
    flex-direction: column;
  }
  /*<!--ooo Hébergements les Populaires à Marseille ooo-->*/

  /*xxx Hebergements and Plus Populaires xxx*/

  /*ooo Activite ooo*/
  .row-activi .column-activi {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  /*ooo Activite ooo*/

  /*xxx Footer */
  #footer-navigation {
    display: flex;
    gap: 200px;
  } 
}
/*xxx Responsive layout - 992px xxx*/

/*ooo Responsive layout - 768px ooo*/
@media all and (max-width: 768px) {
  /*ooo Header ooo*/
  header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin: 50px auto 0;  
  }

  #header-navigation ul {
    display: flex;
  }

  #header-navigation a {
    width: 188px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--grey);
  }

  #header-navigation a:hover {
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--blue);
  }

  header a.logo {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  header a.logo img {
    width: 100px;
  }
  /*xxx Header xxx*/

  /*oooo Main oooo*/ 
 
  /*o title o*/     
  main .title h1 {
      margin-top: 20px;  
  }
  /*x title x*/

  /*ooo Form ooo*/
  main form.form-search {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  input[value="Rechercher"] { 
    display:none; 
  }
    
  .fa-search {
    opacity: 1;
    width: 45px;
    height: 45px;
    padding: 16px;
    text-align: center;
    background-color: var(--blue);
    color: #FFF;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  /*o filters o*/
  main div.filters {    
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;   
    margin: 20px 0; 
  }

  div.filters button  { 
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
  }

  div.mobile {
    display: flex;
    flex-flow: row wrap;
    }
  /*x filters x*/

  /*ooo Hebergements and Plus Populaires ooo*/
  div.row-heber-popul {
    padding: 0;
  }
  .column-heber {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0;
    order: 2;
  }

  .column-heber .box {
    background-color: transparent;    
    border-radius: 0px;
  }
  
  .column-popul {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0;
    order: 1;
  }

  .column-popul .box {  
    border-radius: 0px;
  }
  /*<!--ooo Hébergements à Marseille ooo-->*/
  .column-heberg {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  /*<!--ooo Hébergements à Marseille ooo-->*/

  /*<!--ooo Hébergements les Populaires à Marseille ooo-->*/
  /*<!--ooo Hébergements les Populaires à Marseille ooo-->*/
.header-popula {
  text-align: left;
  padding: 0 25px;
  padding-top: 25px;  
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 10px;
}

.row-popula {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 12.5px;
  justify-content: space-between;
}

/* Create four equal columns that sits next to each other */
.column-popula {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  padding: 0 12.5px;
}

.column-popula .card {
  margin: 28.5px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 25px;
  background-color: white;  
  vertical-align: top;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.column-popula .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.column-popula picture {
  width: 60%;
}

.column-popula img {
  border-radius: 25px 0 0 25px;
  padding: 4px;
  vertical-align: top;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h2.pop, .fa-chart-line.pop {
  margin: 0px;
}

.column-popula .container {
  width: 300px;
  padding: 16px;
  font-size: 1em;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-popula .container h3,
.column-popula .container p {
  margin: 0; 
}

.column-popula .container .note {
  margin: 0;
}
/*<!--ooo Hébergements les Populaires à Marseille ooo-->*/

  /*<!--ooo Hébergements les Populaires à Marseille ooo-->*/

  /*xxx Hebergements and Plus Populaires xxx*/

  /*ooo Activite ooo*/
  .row-activi .column-activi {
    -ms-flex: 100%;
    flex: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
  }

  .row-activi .column-1 .box {     
    vertical-align: top;
    width: 100%;
    height: 200px;
  }

  .row-activi .column-1 img {
    padding: 0px;
    vertical-align: top;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .row-activi .column-2 .box.box-1 {     
    vertical-align: top;
    width: 100%;
    height: 200px;
  }

  .row-activi .column-2 .box.box-1 img {
    padding: 0px;
    vertical-align: top;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .row-activi .column-2 .box.box-2 {     
    vertical-align: top;
    width: 100%;
    height: 200px;
  }

  .row-activi .column-2 .box.box-2 img {
    padding: 0px;
    vertical-align: top;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }


  .row-activi .column-3 .box {
     
    vertical-align: top;
    width: 100%;
    height: 200px;
  }

  .row-activi .column-3 img {
    padding: 0px;
    vertical-align: top;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .row-activi .column-4 .box.box-3 {
     
    vertical-align: top;
    width: 100%;
    height: 200px;
  }

  .row-activi .column-4 .box.box-3 img {
    padding: 0px;
    vertical-align: top;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .row-activi .column-4 .box.box-4 {
     
    vertical-align: top;
    width: 100%;
    height: 200px;    
  }

  .row-activi .column-4 .box.box-4 img {
    vertical-align: top;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  /*ooo Activite ooo*/
  /*xxx Main xxx*/

  /*ooo Footer ooo*/ 
  #footer-navigation {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;    
  }
  /*xxx Footer xxx*/  
}
/*xxx Responsive layout - 768px xxx*/
